<?xml version="1.0"?>

<launch>
  <!-- WHEELS -->
  <include file="$(find paquete_prueba)/launch/roboclaw.launch"/>

  <!-- MECHANISM -->
  <include file="$(find paquete_prueba)/launch/roboclaw_mechanism.launch"/>

  <!-- IMU --> 
  <include file="$(find paquete_prueba)/launch/imu.launch"/>

  <!-- GPS -->
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch"/>

  <!-- CAMERA-->
  <include file="$(find paquete_prueba)/launch/usb_cam_test.launch"/>

  <!-- DATA COLLECTION -->
  <include file="$(find teleoperation)/launch/data_collection.launch"/>

  <!-- DETECTION AND RECORDING-->
  <include file="$(find paquete_prueba)/launch/bottle_detection.launch"/>

</launch>