<?xml version="1.0"?>
<launch>

    <!-- Load the bottle detection node -->
    <node pkg="paquete_prueba" type="bottle_detection.py" name="bottle_detection" output="screen">
    </node>

    <node pkg="paquete_prueba" type="video_ros_record.py" name="video_record" output="screen">
    </node>

</launch>