<?xml version="1.0"?>
<launch>

    <arg name="dev" default="/dev/ttyACM0"/>
    <arg name="dev1" default="/dev/ttyACM1"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="max_speed" default="0.4"/>
    <arg name="ticks_per_meter" default="24844.8"/>
    <arg name="base_width" default="0.315"/>
    <arg name="run_diag" default="true"/>

    <node if="$(arg run_diag)" pkg="roboclaw_node" type="roboclaw2.py" name="roboclawfront">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~base_width" value="$(arg base_width)"/>
    </node>

    <node if="$(arg run_diag)" pkg="roboclaw_node" type="roboclaw2.py" name="roboclawrear">
        <param name="~dev" value="$(arg dev1)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~base_width" value="$(arg base_width)"/>
    </node>

</launch>
